<footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://www.facebook.com/mboris90" target="_blank">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>

      <a href="https://twitter.com/milanovic_boris" target="_blank">
        <i class="fab fa-twitter mr-3"></i>
      </a>

      <a href="https://youtu.be/X0J23zMGLZM" target="_blank">
        <i class="fab fa-youtube mr-3"></i>
      </a>

      <a href="https://github.com/cyber-milanovicb" target="_blank">
        <i class="fab fa-github mr-3"></i>
      </a>

      <a href="http://codepen.io/mdbootstrap/" target="_blank">
        <i class="fab fa-codepen mr-3"></i>
      </a>
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2023 Copyright: BORIS MILANOVIC
      <a href="mailto:milanovicful@gmail.com" target="_blank"> BORIS MILANOVIC - 2023 </a>
    </div>
    <!--/.Copyright-->

  </footer>